
{% extends 'discografica/frontend.html' %}

{% block logcontent %}
{% load staticfiles %}
  <form id="loginform" class="form-vertical" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% if form.errors %}
      <p>Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
  {% endif %}
<div class="control-group normal_text"> <h3><img src="{% static 'img/logo.png' %}" alt="Logo" /></h3></div>
    <div class="control-group">
        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_lg"><i class="icon-user"> </i></span><input id="id_username" type="text" class="form-control" name="username" maxlength="100" placeholder="Usuario..." required />
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="main_input_box">
                <span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="id_password" type="password" class="form-control" name="password" maxlength="100" placeholder="contraseña" required  />
            </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="hidden" name="next" value="{{ next }}" />

        <span class="pull-right"><input type="submit"  value="Login" class="btn btn-success" /></span>
    </div>
</form>




{% endblock %}
