{% extends 'discografica/base.html' %}
{% block ac2 %}active{% endblock %}
{% block titulo %} Artista {% endblock %}
  {% block content %}
  <h1>Artista   <a href="{% url 'artista_new' %}" rel="tooltip" data-original-title="Agregar" class="btn btn-success "><i class="icon-plus"></i></a></h1>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
          <h5>Artista </h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nombre del Artista</th>
                <th>Fecha de inicio</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for a in art %}
                <tr>
                  <td>{{ a.nombre }}</td>
                  <td>{{ a.fecha_inicio }}</td>
                  <td>
                    <a href="{% url 'artista_show' pk=a.pk %}" rel="tooltip"  class="btn btn-info btn-simple btn-xs" data-original-title="Detalles" >
                      <i class="icon-exclamation-sign"></i>
                    </a>
                    <a href="{% url 'artista_edit' pk=a.pk %}" rel="tooltip" class="btn btn-warning btn-simple btn-xs" data-original-title="Editar">
                      <i class="icon-edit"></i>
                    </a>
                  </td>


                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>


  {% endblock content %}
